<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         metadata-complete="false"
         version="5.0">
  <display-name>banco-talento</display-name>

  <welcome-file-list>
      <welcome-file>index.html</welcome-file>
  </welcome-file-list>  

    <!-- Mapeamento do MainServlet -->
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>com.projeto.servlet.MainServlet</servlet-class>
    </servlet>

<!--    
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/talentos/*</url-pattern>
    </servlet-mapping>
-->
    
    <!-- Opcional: Configuração para servir recursos estáticos -->
    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>listings</param-name>
            <param-value>false</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

</web-app>